.startbutton {
	padding: 5px 20px;
	margin: 5px 9px;
	display: inline-block;
	color: #ffffff;
	font-size: 18px;
	cursor: pointer;
	background: #367848;
	background: linear-gradient(top, #367848 0%, #1d5f2f 100%);
	background: -moz-linear-gradient(top, #367848 0%, #1d5f2f 100%);
	background: -webkit-linear-gradient(top, #367848 0%, #1d5f2f 100%);
	background: -o-linear-gradient(top, #367848 0%, #1d5f2f 100%);
	border: 1px solid #338bf6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow:0px 0px 8px 4px rgba(0, 0, 0, 0.31), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-moz-box-shadow:0px 0px 8px 4px rgba(0, 0, 0, 0.31), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:0px 0px 8px 4px rgba(0, 0, 0, 0.31), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-o-box-shadow:0px 0px 8px 4px rgba(0, 0, 0, 0.31), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
}

.stopbutton {
    padding: 5px 20px;
	margin: 5px 9px;
	display: inline-block;
	color: #ffffff;
	font-size: 18px;
	cursor: pointer;
	background: #8A3F4D;
	background: linear-gradient(top, #367848 0%, #1d5f2f 100%);
	background: -moz-linear-gradient(top, #367848 0%, #1d5f2f 100%);
	background: -webkit-linear-gradient(top, #367848 0%, #1d5f2f 100%);
	background: -o-linear-gradient(top, #367848 0%, #1d5f2f 100%);
	border: 1px solid #338bf6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow:0px 0px 8px 4px rgba(0, 0, 0, 0.31), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-moz-box-shadow:0px 0px 8px 4px rgba(0, 0, 0, 0.31), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:0px 0px 8px 4px rgba(0, 0, 0, 0.31), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-o-box-shadow:0px 0px 8px 4px rgba(0, 0, 0, 0.31), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
}
